<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<h2>Product List</h2>
<br>
<div>
    <table border="3">
        <tr>
            <th>Name</th>
            <th>Count</th>
            <th>Weight</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:utext="${product.name}">...</td>
            <td th:utext="${product.count}">...</td>
            <td th:utext="${product.weight}">...</td>
            <td>
                <form action="#" th:action="@{'/deleteProduct/{id}'(id=${product.id})}" th:method="delete" >
                    <button type="submit" class="btn">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>
<br>
<div>
    <table border="3">
        <tr>
            <form>
                <input type="button" value="Add product" onclick='location.href="addProduct"'>
            </form>
            <form action="#" th:action="@{'/deleteAllProduct'}" th:method="delete" >
                <button type="submit" class="btn">
                    Delete all
                </button>
            </form>
        </tr>
    </table>
</div>

</body>
</html>