<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<body>
<h2>Task List</h2>
<br>
<div>
    <table border="3">
        <tr>
            <th>Description</th>
            <th>Date</th>
            <th>Delete task</th>
        </tr>
        <tr th:each="task : ${tasks}">
            <td th:utext="${task.description}">...</td>
            <td th:utext="${task.date}">...</td>
            <td>
                <form action="#" th:action="@{'/delete/{id}'(id=${task.id})}" th:method="delete" >
                    <button type="submit" class="btn">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>
<br>
<div>
    <table border="3">
        <tr>
            <form>
                <input type="button" value="Add task" onclick='location.href="addTask"'>
            </form>
            <form action="#" th:action="@{'/deleteAll'}" th:method="delete" >
                <button type="submit" class="btn">
                    Delete all
                </button>
            </form>
        </tr>
    </table>
</div>

</body>
</html>